#controls {

    display: grid;
    grid-template-columns: repeat(2, 1fr); // This makes both columns the same width
    // grid-template-columns: 0.05fr auto; // first column 5% the rest auto
    // grid-template-rows: 0.05fr; // make height of 1st row 5%
    // grid-auto-rows: auto; // make height of other rows auto
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    
}

.control-panel {

    background-color: lightgrey;
    border-radius: 10px;
    // margin: 10px;
    padding: 20px;
}

#swatch {

    display: grid;
    grid-template-columns: repeat(2, 1fr); // This makes both columns the same width
    // grid-template-columns: 0.05fr auto; // first column 5% the rest auto
    // grid-template-rows: 0.05fr; // make height of 1st row 5%
    // grid-auto-rows: auto; // make height of other rows auto
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    
    margin-top: 10px;
}
